.search-bar-wrapper {
  padding: 0.6510416666666666vw;


}

.search-bar-links-container {
  .search-bar-links {
    padding: 0.6510416666666666vw;
    font-size: 1.5625vw;

    .repo-link {
      text-decoration: none;
    }
  }
}
